#!/bin/bash

##############################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Kernel Source:
# git clone https://github.com/yesimxev/android_kernel_xiaomi_sdm710 -b lineage-21
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##############################################################################################

# Architecture (arm or arm64)
export ARCH=arm64

# GCC 64bit (arm64) source
CROSS_COMPILE_SRC="https://kali.download/nethunter-images/toolchains/linaro-aarch64-5.5.tar.xz"
CROSS_COMPILE_TYPE="wget"
# And it's path
CCD="${TD}/linaro-aarch64-5.5"
export CROSS_COMPILE=${CCD}/bin/aarch64-linux-gnu-

# Speed up the build
CCACHE=true

# Kernel local name
export LOCALVERSION=-yesimxev
